@import './styles/variables.scss';
@import './styles/setup.scss';
@import './styles/mixins.scss';
@import './styles/listStyle.scss';
@import "react-slideshow-image/dist/styles.css";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


html {
    font-size: 62.5%;
    background-color:$lightcolor;
}


.wrapper {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;  
    border:1px solid blue;
}

.App {  
  text-align: center;  
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  h1{
  @include fluid-font-size(3rem, 8rem);
  // font-size: 6rem;
  font-family: 'Dancing Script', cursive;
  margin: 50px auto;
}
  .parent{
  flex-grow: 1;
  border: 1px solid red;

}
}





.background-img{
height: 350px;
  background-image: url('./styles/london-skyline.png');
  background-repeat: no-repeat;
    background-position: bottom;
}








//Slide styling
.react-slideshow-container{
  margin-bottom: 100px;
  box-shadow: 5px 5px 5px black;
  // border-radius: 20px;
}
.each-fade {
  // display: flex;
  width: 100%;
  height: 500px;
  
}

.each-fade > div {
  width: 100%;
  height: 500px;
  
}

.each-fade > div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  // border-radius: 20px;
  // box-shadow: 5px 5px 5px black;
  // border: 1px solid blue;
}



.city-choice{
  display: flex;
  // margin: 50px auto;  
  justify-content: center;
  margin: 50px auto;
  @include fluid-font-size(1.6rem, 2rem);
  
  select{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png);
    background-repeat: no-repeat;
    background-position: 95% center;
    font-family: 'Raleway', sans-serif;
    padding: 5px;
    width: 250px;
    height: 40px;
    background: $lightcolor;          
    cursor: pointer;
    border: 1px solid $darkcolor;
    color:$darkcolor;    
    appearance:none;
    text-align: center;
    box-shadow: 5px 5px 5px $darkcolor;
    transition: all ease-in-out .2s;
  }


  select:hover,
  select:focus{
  background: $hoverColor;
  }


  option{
    background:$lightcolor;
    text-align: center;
    outline: none;   
    }

  select option:hover{
    background-color: transparent;
    
  }

  button{        
        height: 40px;
        padding: 5px;
        @include fluid-font-size(1.6rem, 2rem);
        font-family: 'Raleway', sans-serif;
        border: 1px solid $darkcolor;
        background: $darkcolor;
        color: $lightcolor;
        box-shadow: 5px 5px 5px $darkcolor;
        transition: all ease-in-out .2s;
    }

    button:hover,
    button:focus{       
        border: 1px solid $darkcolor;           
        background: $lightcolor;
        color: $darkcolor;
    }

}
// .react-slideshow-container{
//   visibility: hidden;
// }

// .each-fade p {
//   width: 25%;
//   font-size: 1em;
//   display: flex;
//   text-align: center;
//   justify-content: center;
//   align-items: center;
//   margin: 0;
//   background: #adceed;
// }



footer{
  background-color:$darkcolor;
  p{
    font-size: 2rem;
    margin: 10px auto;
    @include fluid-font-size(1.6rem, 2rem);
    color: $lightcolor;
    font-family: 'Dancing Script', cursive;
  }
  
}
