.cities-box{
    display: flex;
    flex-direction: column;     
    margin-bottom: 300px;
    margin-top: 20px;    
}

.more-cities{        
    text-align: center;
    margin-top: 50px;
    .to-visit{
        @include fluid-font-size(2.5rem, 4rem);
        font-family: "Dancing Script", cursive;
        margin-bottom: 20px;        
    }

    input[type=text]{
        width: 200px;
        height: 40px;
        @include fluid-font-size(1.6rem, 2rem);
        background: $lightcolor;
        font-family: "Raleway", sans-serif;
        border: 1px solid $darkcolor; 
        padding: 5px;
        box-shadow: 5px 5px 5px $darkcolor;
        border-top-left-radius: 10px;      
        border-bottom-left-radius: 10px;
        outline: none;
        transition: all ease-in-out .2s;
    }

    input[type=text]:hover,
    input[type=text]:focus{
        background: $hoverColor;
    }

    button{ 
        height: 40px;
        padding: 5px 15px;
        @include fluid-font-size(1.6rem, 2rem);
        font-family: "Raleway", sans-serif;
        border: 1px solid $darkcolor;
        border-top-right-radius: 10px;      
        border-bottom-right-radius: 10px;
        background: $lightcolor;
        color: $darkcolor;
        box-shadow: 5px 5px 5px $darkcolor;
        transition: all ease-in-out .3s;
    }

    button:hover,
    button:focus{       
        border: 1px solid $darkcolor;           
        
        background: $darkcolor;
        color: $lightcolor;
    }
    }

    .cities-to-visit{       
        display: flex;
        justify-content: center;
        align-items: center;  
        margin-top: 20px;
        margin-bottom: 10px;      
    }

    .cities-list{
        @include fluid-font-size(1.6rem, 2rem);
        font-family: "Raleway", sans-serif;
        list-style: none;
        text-align: center;
        text-align: left;
        margin: 10px auto;
        

        li{
            margin:10px auto;     
                button{
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                    padding: 5px;
                    @include fluid-font-size(1.6rem, 2rem);
                    font-family: "Raleway", sans-serif;
                    border: none;  
                    background: none;                  
                    color: $darkcolor;                                    
                    transition: all ease-in-out .2s;
                } 
                
                button:hover,
                button:focus{     
                    transform: scale(1.5);
                }
        
        }

        }


    
